.navigation {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;

  @media (max-width: 767px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: 380px) {
    display: grid;
  }
}

.navigation__link {
  display: block;
  padding: 20px;
  color: inherit;
  text-decoration: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #1E88E5;
  }

  &--active {
    display: block;
    padding: 20px;
    color: #ffffff;
    background-color: #1E88E5;
    text-decoration: none;
  }
}

/* .navigation__link:hover,
.navigation__link:focus {
  color: #ffffff;
    background-color: #1E88E5;
}

.navigation__link--active {
  display: block;
    padding: 20px;
    color: #ffffff;
    background-color: #1E88E5;
    text-decoration: none;
} */
